/aclocal.m4
/autom4te.cache/
/autoscan.log
/config.guess
/config.h.in
/config.sub
/configure
/configure.ac~
/configure.scan
/depcomp
/INSTALL
/install-sh
/ltmain.sh
/m4
/missing

*.o
*.swo
*.swp
Makefile.in
